:host {
  position: fixed;
  top: 21%;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}

.weather-li {
  border-radius: 2px;
}

.temp,
.day {
  margin: 0;
  text-align: center;
}

.temp {
  font-weight: bold;
}

.day {
  font-style: italic;
}

@media (max-width: 1280px) {
  :host {
    position: static;
  }

  .container {
    margin-bottom: 5px;
  }
}